/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Styling for centering */
body, html {
  height: 100%; /* Ensure the viewport covers the entire height */
}

.box {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Make the box fill the viewport */
}
